/*////// Body //// */
body{
    width: 100%;
    background-image: url("/assets/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#content {
    width: 100%;
    height: auto;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#query-form {
    width: 40%;
    height: 250px;
}


#result {
    width: 40%;
    height: 250px;
}


#footer {

}