/*////// Body //// */
body{
    width: 100%;
    background-image: url("/assets/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#content {
    width: 100%;
    height: auto;
}


#footer {

}


#query-form {
    width: 49%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.6);
}


#result {
    width: 49%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.6);
}



#query {
    width: 98%;
    height: 98%;
    resize: none;
    color: black;
}


.box-shadow {
    box-shadow: 3px 3px 3px black;
}


.margin {
    margin: 1%;
}


.border {
    border: 1px solid black;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}