
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="adjustHeight(document.getElementById('content'))">
    <div id="content" class="flex-center">
        <form id="query-form" class="box-shadow margin border">
            <textarea id="query" class="box-shadow margin border">

            </textarea>
        </form>
        <div id="result" class="box-shadow margin border">

        </div>
    </div>
    <footer id="footer">
        <a href="http://www.freepik.com">Designed by Creative_hat / Freepik</a>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>