
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="adjustHeight(document.getElementById('content'))">
    <div id="content" class="flex-center content">
        <form id="query-form" class="box-shadow margin border flex-column">
            <textarea id="query" placeholder="Enter your query"></textarea>
            <hr/>
            <div class="flex-center content">
                <button class="button border margin" onclick="alert('Sent')">
                    Send
                </button>
                <button class="button border margin" onclick="alert('Reset')">
                    Reset
                </button>
            </div>
        </form>
        <div id="result" class="box-shadow margin border">

        </div>
    </div>
    <footer id="footer">
        <a href="http://www.freepik.com">Designed by Creative_hat / Freepik</a>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>